body{
    background-image: url("./images/360_F_406609490_6XTEHYNqcfqNbkQjN5B2kOy1yIYE5nD1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#page{
    display: grid;
    margin-left: 140px;
    animation: bobobo 2s ease;
}
@keyframes bobobo{
    0%{
        margin-left: -80000px;
    }
    100%{
        margin-left: 140px;
    }
}

.imgs{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: absolute;
    row-gap: 4rem;
    column-gap: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.images{
    width: 300px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
    background-color: cornflowerblue;
    
    
}
h2{
    margin: 15px 37% ;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: aqua;
    animation: bob 3s ease infinite;
}


@keyframes bob{
    0%{
        letter-spacing: 0px;
        color: aqua;
    }
    100%{
        letter-spacing: 12px;
        color: blueviolet;
    }
}
h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    font-family: "sevenSegment";
    font-size: 15 em;
  }





